@import './_variables.scss';
@import './_normalize.scss';

body {
  background-color: white;
}

table {
  border-collapse: collapse;
  border: 1px solid #aaa;
  width: 100%;

  td, th {
    border-collapse: collapse;
    border: 1px solid #aaa;
    padding: 5px 10px;
  }
}